body {
    height: 95%;
}

#shopName {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    position: absolute;
    top: 130px;
    left: 3%;
    font-size: 40px;
}

#shopImg {
    width: 293px;
    height: auto;
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    top: 278px;
    left: 38%;
    box-shadow: 0px 0px 10px gray;
}

#configurationTitle {
    font-family: "Arial", sans-serif;
    font-weight: 600;
    position: absolute;
    top: 161px;
    left: 74%;
    font-size: 40px;
}

.selectConfig {
    position: absolute;
    top: 308px;
    left: 73%;
    width: 308px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid lightgray;
    display: inline-block;
    text-align: center;
}

#configurationColor {
    cursor: not-allowed;
}

#configurationQuality {
    top: 433px;
    cursor: pointer;
}

#configurationQuantity {
    top: 566px;
    cursor: pointer;
}

#setConfigButton {
    background-color: #FC8C04;
    border: 2px solid #FC8C04;
    border-radius: 20px;
    color: white;
    text-align: center;
    height: 47px;
    width: 198px;
    position: absolute;
    top: 658px;
    left: 76%;
    transition-duration: 0.4s;
    font-weight: 500;
    font-size: 15px;
}

#setConfigButton:hover {
    background-color: white;
    color: black;
}

.typeConfiguration {
    font-family: "Arial", sans-serif;
    font-weight: 300;
    position: absolute;
    font-size: 25px;
    left: 73%;
}

#color{
    top: 236px;
}

#quality{
    top: 361px;
}

#quantity{
    top: 492px;
}

#Price {
    font-family: "Arial", sans-serif;
    font-weight: 600;
    position: absolute;
    top: 660px;
    left: 3%;
    font-size: 40px;
}

#saveToCartButton {
    background-color: #FC8C04;
    border: 2px solid #FC8C04;
    border-radius: 20px;
    color: white;
    text-align: center;
    height: 62px;
    width: 255px;
    position: absolute;
    top: 764px;
    left: 3%;
    transition-duration: 0.4s;
    font-weight: 500;
    font-size: 20px;
}

#saveToCartButton:hover {
    background-color: white;
    color: black;
}