body {
    overflow: hidden; /* Hide scrollbars */
}

#illustration11Cercle {
    top: 215px;
    left: 2%;
    z-index: -1;
}

#payment {
    background-color: #FC8C04;
    border-radius: 10px;
    display: inline-block;
    border: 2px solid #FC8C04;
    color: white;
    position: absolute;
    top: 779px;
    left: 85%;
    height: 53px;
    width: 179px;
    transition-duration: 0.4s;
    font-size: 20px;
}

#payment:hover {
    background-color: white;
    color: black;
}

#actualCart {
    position: relative;
    top: -683px;
    left: 48%;
    font-family: "Arial", sans-serif;
}

ul li {
    position: relative;
    margin-bottom: 60px;
    list-style-type: none;
    margin-top: -130px;
}

.cartClass {
    background-color: #EFEFEF;
    display: inline-block;
    border-radius: 10px;
    width: 600px;
    height: 50px;
    position: relative;
    z-index: -1;
}

.liPositionQuantity {
    margin-top: 72px;
    position: absolute;
    left: 90%;
    top: -106px;
}

.liPositionQuality {
    margin-top: 72px;
    position: relative;
    left: 42%;
    top: -200px;
    color: #908f8f;
}

.liPositionColor {
    margin-top: 72px;
    position: relative;
    left: 55%;
    top: -290px;
    color: #908f8f;
}

.liPositionImg {
    margin-top: 72px;
    position: relative;
    left: 2%;
    top: -386px;
    color: #908f8f;
}

.imgClass {
    position: relative;
    width: 36px;
    height: auto;
    top: -6px;
    left: -31%;
}

.optionArticle {
    position: relative;
    top: -37px;
    left: 11%;
    color: #908f8f;
}

.quantityArticle {
    position: relative;
    top: -54px;
    left: 21%;
}

.priceArticle {
    position: relative;
    top: -71px;
    left: 28%;
}

#deleteRow {
    background: url("../../img/bingray.png") center no-repeat;
    background-size: 30px;
    border: none;
    width: 30px;
    height: 30px;
    position: relative;
    top: -96px;
    left: 33%;
    cursor: pointer;
    color: rgba(117, 190, 218, 0.0);
}

#deleteRow:hover {
    background: url("../../img/binorange.png") center no-repeat;
    background-size: 30px;
}

.nameArticle {
    position: relative;
    top: 35px;
    left: 4%;
}

#footerText {
    position: fixed;
    left: 35%;
    top: 890px;
    font-family: "Arial", sans-serif;
    font-size: 15px;
}

#totalprice {
    font-family: "Arial", sans-serif;
    font-size: 25px;
    position: absolute;
    top: 510px;
    left: 36%;
}

#totalpricenothing {
    font-family: "Arial", sans-serif;
    font-size: 25px;
    position: absolute;
    top: 378px;
    left: 36%;
}